<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1042937075028-hidji2dnug7c06btht39e50509eptsko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1042937075028-hidji2dnug7c06btht39e50509eptsko</string>
	<key>API_KEY</key>
	<string>AIzaSyBXE1ot_PUQSlb3os0PxumJzVrbw9_VGro</string>
	<key>GCM_SENDER_ID</key>
	<string>1042937075028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.SwiftUI-SampleApp</string>
	<key>PROJECT_ID</key>
	<string>sampleswiftuiapp</string>
	<key>STORAGE_BUCKET</key>
	<string>sampleswiftuiapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042937075028:ios:45ae94677987b58d9fa4c1</string>
</dict>
</plist>